.title-slide hgroup h1 {
    color:#B30000;
    padding-bottom:20px;
}

.benny-image img {
    width: 20%;
    height: 20%;
}

a {
    border-bottom: 0px;
}

.right-aligned {
    float: right;
    display: block;
}

.left-aligned {
    float: left;
    display: block;
}

.center-aligned {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: block;
}

footer {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: auto;
}

.source {
    left: auto;
    bottom: 20px;
}
